@import "tailwindcss";

:root {
  --background: oklch(96.2% 0.044 156.743); /* blanco verdoso */
  --foreground: #1c1917; /* stone-900 */
}

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-roboto-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-primary-brand: oklch(37.8% 0.077 168.94);
  --color-primary-brand-light: oklch(47.8% 0.077 168.94);
  --color-secondary-brand: oklch(84.1% 0.238 128.85);
  --color-secondary-brand-light: oklch(90% 0.2 128.85);
  --color-tertiary-brand: oklch(26.8% 0.011 36.5);
  --color-tertiary-brand-light: oklch(36.8% 0.011 36.5);
  --color-primary-brown: #3e2723;
  --color-primary-brown-light: #5d4037;
  --color-warm-cream: #faf7f2;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Utilidades personalizadas para efectos visuales premium */
.glass-panel {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.glass-panel-dark {
  background: rgba(28, 25, 23, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Ocultar barra de desplazamiento en algunos contenedores si es necesario */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
